/* CSS for the METAL Highway Data Examiner */

#map {
    position: absolute;
    top: 25px;
    bottom:0px;
    width: 100%;
    overflow:hidden;
}

#map * {
    cursor:crosshair;
}

#selected {
    position: relative;
    overflow: scroll;
    display: inline-block;
    max-width: 50%;
    max-height: 85%;
    width:auto;
    height:auto;
    opacity: .95;  /* also forces stacking order */
}

#pointbox {
    visibility: hidden;
    left: 0px;
    width: 1px;
    height: 1px;
}

#options {
    visibility: hidden;
    left: 0px;
    width: 1px;
    height: 1px;
}

#showHideMenu {
    position: fixed;
    right: 10px;
    opacity: .75;  /* also forces stacking order */
}

#AlgorithmVisualization {
    visibility: hidden;
    left: 0px;
    width: 1px;
    height: 1px;
}

#datatable {
    display: inline-block;
    position: absolute;
    overflow: scroll;
    right:2%;
    max-width: 30%;
    max-height: 95%;
    opacity: .95;
    z-index:750; /* above leaflet tiles and overlays, below map tile selector */
}

#pseudoTable {
    position: absolute;
    padding: 5px;
    bottom: 150px;
    overflow-y: scroll;
    max-width: 33%;
    opacity: .95;
}

#graphList {
    width:150px;
}

table.dataTable tbody td {
    padding:0px;
}

#menuIcon {
    padding: 0px;
    margin: 0px;
    top: 1px;
    position: fixed;
    display: inline-block;
    border: none;
    color: white;
}

#menuIcon:hover {
    color: lightgrey;
}

table.pseudocode {
    font-size: 9pt;
    font-family: "Courier New", Courier, monospace;
    border: none;
    border-spacing: 0px;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    color: black;
}

td.pseudocode {
    border: none;
    border-collapse: collapse;
    padding-top: 0;
}

tr.pseudocode {
    border: none;
    border-collapse: collapse;
    padding-top: 0;
}

.highlight {
    background-color: yellow;
}
.for1{}
.for2{}
.for3{}
.if1{}
.if2{}

.box {
    display: inline-block;
    height: 20px;
    width: 20px;
    border: 2px solid;
}

#contentArea_legend{
    background-color: white;
}

#boxContainer{
    padding-left: 30px;
}

#loadDataPanel{
    top: 100px;
    margin: auto;
    background-color: white; 
    z-index: 14000;
    position: absolute;
}

#loadDataTable {
    border: 1px solid black;	
}

#searchBox {
    width: 365px;
}

#algorithmSelectionPanel {
    top: 100px;
    margin: auto;
    background-color: white; 
    z-index: 12000;
    position: absolute;
    display: none;
}

#algorithmSelectionPanelTable {
    border: 1px solid black;
    left: 5px;
    position: absolute;
    z-index: 10000;
}

#selected {
    display: none;
}

#avStatusPanel {
    margin:auto;
    top: 100px;
    z-index: 10000;
    background-color: blue;
    position: absolute;
    overflow: scroll;
    width: 30%;
    max-height: calc(100vh - 125px);
    opacity: .95;
    display: none;
}

#avStatusTable {
    border: 1px solid black;
    width: 100%;
    overflow: scroll;
}

/* centering and zindex together, based on example from 
https://stackoverflow.com/questions/19343331/how-do-i-center-an-absolutely-positioned-element
*/

#topControlPanel {
    background-color: white;
    position: absolute;
    top: 25px;
    left: 150px;
    z-index: 11000;
    display: none;
}

.data-title:hover:after{
    opacity: 1;
    transition: all 0.1s ease 0.5s;
    visibility: visible;
    z-index: inherit;
}
.data-title:after{
        
    background-color: #00FF00;
    color: #111;
    font-size: 20px;
    padding: 1px 5px 2px 5px;
    bottom: -1.6em;
    left: 100%;
    white-space: nowrap;
    box-shadow: 1px 1px 3px #222222;
    opacity: 0;
    border: 1px solid #111111;
    z-index: 99999;
    overflow: visible;
}
.data-title{
    font-size: 20px;
    background-color: #00FF00;
    white-space: nowrap;
    box-shadow: 1px 1px 3px #222222;
    opacity: 50;
    border: 1px solid #111111;
}
